<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 panel panel-default" style="background: transparent; background-color: rgba(255, 255, 255, 0.9); ">
            <h1 class="margin-base-vertical">Welcome to RatingMe, the first social-rating Website</h1>
			<p>
					I want to know, have you ever seen the rain?
			</p>
         </div>
    </div>
</div>