<div class="jumbotron">
  <div class="container">
     <h1>RatingMe!</h1>
      <p>Welcome to RatingMe, the first social-rating Website</p>
      <p>
          <%= link_to "Register", reviews_path, class: "btn btn-success btn-lg bg-primary"%> 
          or
          <%= link_to "Login", reviews_path, class: "btn btn-primary bg-primary"%>
      </p>
  </div>
</div>