Hi <%= @user.user_name %>
============================
Someone has reported that your Review contain inappropriate material.

The review is titled: <%=@review.title%>

Plase login into your account and modify it in according to our EULA. In 24 hour a moderator will check your Review and can delete it if it's necessary.
<p>Please modify it <a href='<%=review_path(@review.id)%>'>here </a> </p>
Thankyou for your understanding.

The RatingMe Team.