<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <!-- Bootstrap core CSS -->
  </head>
  <body>
    <div>
      <div>
        <h2>Hi <%= @user.user_name %>,</h2>
      </div>
      <div>
        <p>Someone has reported that your Review contain inappropriate material.</p>
        <p>The review is titled: <%=@review.title%></p>
        <p>Plase login into your account and modify it in according to our EULA. In 24 hour a moderator will check your Review and can delete it if it's necessary.</p>
        <p>Please modify it <a href='<%=review_path(@review.id)%>'>here </a> </p>
        <p>Thankyou for your understanding.</p>
      </div>
  
      <hr>
    
      <p>
        The RatingMe Team.
      </p>
      <p>
        
      </p>
    </div>
  </body>
</html>