<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Password reset</strong></div>
  <div class="panel-body">
      Please insert your user name or email or <%= link_to "go back", root_path %>
  </div>
<table class="table">
  <tbody>
    <tr>
      <td>  <%= form_tag(forgot_password_path, :method => "get", id: "reset_password") do %>
            <%= text_field_tag :uname_or_email, params[:uname_or_email], placeholder: "Email or User Name" %>
            <%= submit_tag "Search" %>
            <% end %>
      </td>
    </tr>
  </tbody>
  
</table>
</div>


