<h2>End-User License Agreement ("Agreement")</h2>

Please read this End-User License Agreement ("Agreement") carefully before clicking the "I Agree" or "Join Now" button<br>
<br>
This agreement was written in English (US). To the extent any translated version of this agreement conflicts with the English version, the English version controls.  Please note that Section 16 contains certain changes to the general terms for users outside the United States.
Date of Last Revision: 02/01/2015<br>
<br>
Your privacy is very important to us. We designed our Data Policy to make important disclosures about how you can use RatingMe to share with others and how we collect and can use your content and information. 
We encourage you to read the Data Policy, and to use it to help you make informed decisions. <br>
<br>
<h3>Statement of Rights and Responsibilities</h3>
This Statement of Rights and Responsibilities ("Statement," "Terms," or "SRR") derives from the Ratingme Principles, and is our terms of service that governs our relationship with users and others who interact with RatingMe, products and services. By using or accessing the RatingMe Services via Web, Application or other services, you agree to this Statement, as updated from time to time in accordance with Section 13 below. 

By clicking the "Join Now" button,  you are agreeing to be bound by the terms and conditions of this Agreement.
If you do not agree to the terms of this Agreement, do not click on the "I Agree" button and do not download or use the Web Application.<br>

<h3>Sharing Your Content and Information</h3>

You own all of the content and information you post on RatingMe, and you can control how it is shared through your privacy and application settings. In addition:
For content that is covered by intellectual property rights, like photos and videos (IP content), you specifically give us the following permission, subject to your privacy and application settings: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with RatingMe (IP License). This IP License ends when you delete your IP content or your account unless your content has been shared with others, and they have not deleted it.
When you delete IP content, it is deleted in a manner similar to emptying the recycle bin on a computer. However, you understand that removed content may persist in backup copies for a reasonable period of time (but will not be available to others).
When you use an application, the application may ask for your permission to access your content and information as well as content and information that others have shared with you.  We require applications to respect your privacy, and your agreement with that application will control how the application can use, store, and transfer that content and information.  (To learn more about Platform, including how you can control what information other people may share with applications, read our Data Policy and Platform Page.)
When you publish content or information using the Public setting, it means that you are allowing everyone, including people off of RatingMe, to access and use that information, and to associate it with you (i.e., your name and review picture).
We always appreciate your feedback or other suggestions about Ratingme, but you understand that we may use your feedback or suggestions without any obligation to compensate you for them (just as you have no obligation to offer them).
 
<h3>Safety</h3>

We do our best to keep Ratingme safe, but we cannot guarantee it. 
We need your help to keep Ratingme safe, which includes the following commitments by you:
You will not post unauthorized commercial communications (such as spam) on Ratingme.
You will not collect users' content or information, or otherwise access Ratingme, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our prior permission.
You will not engage in unlawful multi-level marketing, such as a pyramid scheme, on RatingMe.
You will not upload viruses or other malicious code.
You will not solicit login information or access an account belonging to someone else.
You will not bully, intimidate, or harass any user.
You will not post content that: is hate speech, threatening, or pornographic; incites violence; or contains nudity or graphic or gratuitous violence.
You will not develop or operate a third-party application containing alcohol-related, dating or other mature content (including advertisements) without appropriate age-based restrictions.
You will not use RatingMe to do anything unlawful, misleading, malicious, or discriminatory.
You will not do anything that could disable, overburden, or impair the proper working or appearance of RatingMe, such as a denial of service attack or interference with page rendering or other RatingMe functionality.
You will not facilitate or encourage any violations of this Statement or our policies.
 
<h3>Registration and Account Security</h3>

RatingMe users can provide their real names and information, and we need your help to keep it that way. Here are some commitments you make to us relating to registering and maintaining the security of your account:
You will not provide any false personal information on RatingMe, or create an account for anyone other than yourself without permission.
You will not create more than one personal account.
If we disable your account, you will not create another one without our permission.
You will not use your personal timeline primarily for your own commercial gain, and will use a RatingMe Page for such purposes.
You will not use RatingMe if you are under 13.
You will not use RatingMe if you are a convicted sex offender.
You will keep your contact information accurate and up-to-date.
You will not share your password, let anyone else access your account, or do anything else that might jeopardize the security of your account.
You will not transfer your account (including any Page or application you administer) to anyone without first getting our written permission.
If you select a username or similar identifier for your account or Page, we reserve the right to remove or reclaim it if we believe it is appropriate (such as when a trademark owner complains about a username that does not closely relate to a user's actual name).
 
<h3>Protecting Other People's Rights</h3>

We respect other people's rights, and expect you to do the same.
You will not post content or take any action on RatingMe that infringes or violates someone else's rights or otherwise violates the law.
We can remove any content or information you post on RatingMe if we believe that it violates this Statement or our policies.
We provide you with tools to help you protect your intellectual property rights. To learn more, visit our How to Report Claims of Intellectual Property Infringement page.
If we remove your content for infringing someone else's copyright, and you believe we removed it by mistake, we will provide you with an opportunity to appeal.
If you repeatedly infringe other people's intellectual property rights, we will disable your account when appropriate.
You will not use our copyrights or Trademarks or any confusingly similar marks, except as expressly permitted by our Brand Usage Guidelines or with our prior written permission.
If you collect information from users, you will: obtain their consent, make it clear you (and not RatingMe) are the one collecting their information, and post a privacy policy explaining what information you collect and how you will use it.
You will not post anyone's identification documents or sensitive financial information on RatingMe.
You will not tag users or send email invitations to non-users without their consent. RatingMe offers social reporting tools to enable users to provide feedback about tagging.
 
<h3>Mobile and Other Devices</h3>

We currently provide our mobile services for free, but please be aware that your carrier's normal rates and fees, such as text messaging and data charges, will still apply.
You provide consent and all rights necessary to enable users to sync (including through an application) their devices with any information that is visible to them on RatingMe.

<h3>License</h3>
RatingMe grants you a revocable, non exclusive, non transferable, limited license to download, install and use the Application solely for your personal, non commercial purposes
strictly in accordance with the terms of this Agreement.<br>

<h3>Restrictions</h3>
You agree not to, and you will not permit others to:
a) license, sell, rent, lease, assign, distribute, transmit, host, outsource, disclose or otherwise
commercially exploit the Application or make the Application available to any third party.
The Restrictions section is for applying certain restrictions on the app usage, e.g. user can't sell
app, user can't distribute the app.

<h3>Modifications to Application</h3>
RatingMe reserves the right to modify, suspend or discontinue, temporarily or permanently, the Application or any service to which it connects, with or without notice and without
liability to you.

<h3>Term and Termination</h3>
This Agreement shall remain in effect until terminated by you or RatingMe.
RatingMe may, in its sole discretion, at any time and for any or no reason, suspend or terminate this Agreement with or without prior notice.
This Agreement will terminate immediately, without prior notice from RatingMe, in the event that you fail to comply with any provision of this Agreement. You may also terminate this
Agreement by deleting the Application and all copies thereof from your mobile device or from your desktop.
Upon termination of this Agreement, you shall cease all use of the Application and delete all copies of the Application from your mobile device or from your desktop.

<h3>Severability</h3>
If any provision of this Agreement is held to be unenforceable or invalid, such provision will be
changed and interpreted to accomplish the objectives of such provision to the greatest extent
possible under applicable law and the remaining provisions will continue in full force and effect.

<h3>Amendments to this Agreement</h3>
RatingMe reserves the right, at its sole discretion, to modify or replace this
Agreement at any time. If a revision is material we will provide at least 30 (changes this) days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our
sole discretion.

<h3>Contact Information</h3>
If you have any questions about this Agreement, please contact us.