<h1 style="font-family: 'Pacifico', cursive;">Great!</h1>
<h3>Start a new review. Fill the 3 question and share with the world.</h3>

<% if session[:current_user_lat] != "" %>
    <%= render 'form' %>
<% else %>
    For add a new review you must enable the location services on your device or computer <br>
<% end %>
