<h1>New Review</h1>

<% if session[:current_user_lat] != "" %>
    <%= render 'form' %>
<% else %>
    For add a new review you must enable the location services on your device or computer <br>
<% end %>


<%= link_to 'Back', reviews_path %>
