  <header class="navbar navbar-fixed-top navbar-default ">
    <div class="container container_top_bottom">
      <%= link_to "RatingMe", reviews_path, class: "btn btn-success", id: "logo"%>
      <% if isLoggedIn? %>
          <p class="navbar-text">Hi <%=link_to session[:current_user_name], user_path(session[:current_user_id]) %> |  
          <%= link_to 'Logout', logout_path %></p>
       <% else %>
          <p class="navbar-text">Your are not logged in, please
          <%= link_to 'Login here', login_path %></p>
        <% end %>
    </div>
  </header>
