<!DOCTYPE html>
<html>
<head>
	<title>RatingMe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:title" content="RatingMe the social rating website." />
	<meta property="og:description" content="RatingMe the social rating website. Ask what you want in 3 questions." />
	<meta property="og:locale" content="en_GB" />
	<meta property="og:locale:alternate" content="it_IT" />
	<meta property="og:site_name" content="Ratingme" />

	<!-- Bootstrap -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
	<link href='https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans' rel='stylesheet' type='text/css'>
	<link href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />

	<style>

		/* http://css-tricks.com/perfect-full-page-background-image/ */
		html {
			background: url(assets/BG.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

		body {
			padding-top: 20px;
			font-size: 16px;
			font-family: "Open Sans",serif;
			background: transparent;
		}

		h1 {
			font-family: "Abel", Arial, sans-serif;
			font-weight: 400;
			font-size: 40px;
		}

		/* Override B3 .panel adding a subtly transparent background */
		.panel {
			background-color: rgba(255, 255, 255, 0.9);
		}

		.margin-base-vertical {
			margin: 40px 0;
			font-family: 'Indie Flower', cursive;
		}

	</style>

</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 panel panel-default">
				<div class="container">
					<h1 class="margin-base-vertical text-center">Welcome to RatingMe</h1>
				</div>
				<p style="font-family: 'Josefin Sans', sans-serif;">
					RatingMe, the social rating app in 3 question. Rate what you want and discover the best places around you. 
				</p>

				<form class="margin-base-vertical">
					<p class="text-center">
					  <%= link_to "Register", register_path, class:"btn btn-success btn-lg", style:"font-family: 'Josefin Sans', sans-serif;" %>
					  or
					  <%= link_to "Login", login_path, class:"btn btn-info btn-lg", style:"font-family: 'Josefin Sans', sans-serif;" %>
					</p>
				</form>
				<hr>
	            <p class="text-center">
	                <%= link_to "Let me to see", reviews_path, class:"btn btn-warning btn-lg", style:"font-family: 'Josefin Sans', sans-serif;" %>
	            </p>
			</div><!-- //main content -->
		</div><!-- //row -->
	</div> <!-- //container -->

</body>
</html>